src/main/resources/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://project3.demo/schema"
	xmlns="http://project3.demo/schema">

	<xs:element name="getAllRestaurantRequest">
		<xs:complexType>
			<xs:sequence/>
		</xs:complexType>
	</xs:element>
	<xs:element name="getAllRestaurantResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="restaurants" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="carbohydrates" type="xs:string"/>
							<xs:element name="restaurant_nationality" type="xs:string"/>
							<xs:element name="district" type="xs:string"/>
							<xs:element name="protein" type="xs:string"/>
							<xs:element name="fat" type="xs:string"/>
							<xs:element name="restaurant_type" type="xs:string"/>
							<xs:element name="food_type" type="xs:string"/>
							<xs:element name="clean_max_budget" type="xs:string"/>
							<xs:element name="clean_min_budget" type="xs:string"/>
							<xs:element name="restaurant_name" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getRestaurantRecommendationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PostRunCarbConsumtion" type="xs:string"/>
				<xs:element name="PostRunFatConsumtion" type="xs:string"/>
				<xs:element name="PostRunProteinConsumtion" type="xs:string"/>
				<xs:element name="PreRunCarbConsumtion" type="xs:string"/>
				<xs:element name="PreRunFatConsumtion" type="xs:string"/>
				<xs:element name="PreRunProteinConsumtion" type="xs:string"/>
				<xs:element name="hasRestaurantTypeInterest" type="xs:string"/>
				<xs:element name="RunnerType" type="xs:string"/>
				<xs:element name="BudgetInteresets">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetIntereset" minOccurs="2" maxOccurs="2" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="hasFoodTypeInterests">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="hasFoodTypeInterest" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getRestaurantRecommendationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="restaurants" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="confidence" type="xs:string"/>
							<xs:element name="carbohydrates" type="xs:string"/>
							<xs:element name="restaurant_nationality" type="xs:string"/>
							<xs:element name="district" type="xs:string"/>
							<xs:element name="protein" type="xs:string"/>
							<xs:element name="fat" type="xs:string"/>
							<xs:element name="restaurant_type" type="xs:string"/>
							<xs:element name="food_type" type="xs:string"/>
							<xs:element name="clean_max_budget" type="xs:string"/>
							<xs:element name="clean_min_budget" type="xs:string"/>
							<xs:element name="restaurant_name" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getAllRecommendationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="district" type="xs:string" minOccurs="0"/>
				<xs:element name="raceType" type="xs:string" minOccurs="0"/>
				<xs:element name="typeofEvent" type="xs:string" minOccurs="0"/>
				<xs:element name="travelPlaceType" type="xs:string" minOccurs="0"/>
				<xs:element name="price" type="xs:string" minOccurs="0"/>
				<xs:element name="organization" type="xs:string" minOccurs="0"/>
				<xs:element name="activityArea" type="xs:string" minOccurs="0"/>
				<xs:element name="standard" type="xs:string" minOccurs="0"/>
				<xs:element name="level" type="xs:string" minOccurs="0"/>
				<xs:element name="startPeriod" type="xs:string" minOccurs="0"/>
				<xs:element name="reward" type="xs:string" minOccurs="0"/>
				<xs:element name="PostRunCarbConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PostRunFatConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PostRunProteinConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PreRunCarbConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PreRunFatConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PreRunProteinConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="hasRestaurantTypeInterest" type="xs:string" minOccurs="0"/>
				<xs:element name="RunnerType" type="xs:string" minOccurs="0"/>
				<xs:element name="BudgetInteresets" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetIntereset" type="xs:string" minOccurs="0" maxOccurs="2"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="hasFoodTypeInterests" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="hasFoodTypeInterest" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getAllRecommendationResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="restaurants" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="confidence" type="xs:string"/>
							<xs:element name="carbohydrates" type="xs:string"/>
							<xs:element name="restaurant_nationality" type="xs:string"/>
							<xs:element name="district" type="xs:string"/>
							<xs:element name="protein" type="xs:string"/>
							<xs:element name="fat" type="xs:string"/>
							<xs:element name="restaurant_type" type="xs:string"/>
							<xs:element name="food_type" type="xs:string"/>
							<xs:element name="clean_max_budget" type="xs:string"/>
							<xs:element name="clean_min_budget" type="xs:string"/>
							<xs:element name="restaurant_name" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="runningEvents" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="runningEventName" type="xs:string"/>
							<xs:element name="confidence" type="xs:string" minOccurs="0"/>
							<xs:element name="district" type="xs:string"/>
							<xs:element name="raceTypes">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="raceType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="typeofEvent" type="xs:string"/>
							<xs:element name="prices">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="price" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="startPeriods">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="startPeriod" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="activityAreas">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="activityArea" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="organization" type="xs:string"/>
							<xs:element name="standard" type="xs:string"/>
							<xs:element name="level" type="xs:string"/>
							<xs:element name="rewards">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="reward" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="travelPlacesRunning" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="travelPlaceName" type="xs:string" minOccurs="0"/>
										<xs:element name="travelPlaceType" type="xs:string" minOccurs="0"/>
										<xs:element name="district" type="xs:string" minOccurs="0"/>
										<xs:element name="longitude" type="xs:string" minOccurs="0"/>
										<xs:element name="latitude" type="xs:string" minOccurs="0"/>
										<xs:element name="hotScore" type="xs:string" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="travelPlaces" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="travelPlaceName" type="xs:string" minOccurs="0"/>
							<xs:element name="travelPlaceType" type="xs:string" minOccurs="0"/>
							<xs:element name="district" type="xs:string" minOccurs="0"/>
							<xs:element name="longitude" type="xs:string" minOccurs="0"/>
							<xs:element name="latitude" type="xs:string" minOccurs="0"/>
							<xs:element name="hotScore" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="createUserProfileRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="username" type="xs:string"/>
				<xs:element name="password" type="xs:string"/>
				<xs:element name="district" type="xs:string" minOccurs="0"/>
				<xs:element name="raceType" type="xs:string" minOccurs="0"/>
				<xs:element name="typeofEvent" type="xs:string" minOccurs="0"/>
				<xs:element name="travelPlaceType" type="xs:string" minOccurs="0"/>
				<xs:element name="price" type="xs:string" minOccurs="0"/>
				<xs:element name="organization" type="xs:string" minOccurs="0"/>
				<xs:element name="activityArea" type="xs:string" minOccurs="0"/>
				<xs:element name="standard" type="xs:string" minOccurs="0"/>
				<xs:element name="level" type="xs:string" minOccurs="0"/>
				<xs:element name="startPeriod" type="xs:string" minOccurs="0"/>
				<xs:element name="reward" type="xs:string" minOccurs="0"/>
				<xs:element name="PostRunCarbConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PostRunFatConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PostRunProteinConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PreRunCarbConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PreRunFatConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PreRunProteinConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="hasRestaurantTypeInterest" type="xs:string" minOccurs="0"/>
				<xs:element name="RunnerType" type="xs:string" minOccurs="0"/>
				<xs:element name="BudgetInteresets" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetIntereset" type="xs:string" minOccurs="0" maxOccurs="2"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="hasFoodTypeInterests" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="hasFoodTypeInterest" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="createUserProfileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="status" type="xs:string" minOccurs="0"/>
				<xs:element name="message" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="getUserProfileRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="username" type="xs:string" minOccurs="0"/>
				<xs:element name="password" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="getUserProfileResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="username" type="xs:string" minOccurs="0"/>
				<xs:element name="district" type="xs:string" minOccurs="0"/>
				<xs:element name="raceType" type="xs:string" minOccurs="0"/>
				<xs:element name="typeofEvent" type="xs:string" minOccurs="0"/>
				<xs:element name="travelPlaceType" type="xs:string" minOccurs="0"/>
				<xs:element name="price" type="xs:string" minOccurs="0"/>
				<xs:element name="organization" type="xs:string" minOccurs="0"/>
				<xs:element name="activityArea" type="xs:string" minOccurs="0"/>
				<xs:element name="standard" type="xs:string" minOccurs="0"/>
				<xs:element name="level" type="xs:string" minOccurs="0"/>
				<xs:element name="startPeriod" type="xs:string" minOccurs="0"/>
				<xs:element name="reward" type="xs:string" minOccurs="0"/>
				<xs:element name="PostRunCarbConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PostRunFatConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PostRunProteinConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PreRunCarbConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PreRunFatConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="PreRunProteinConsumtion" type="xs:string" minOccurs="0"/>
				<xs:element name="hasRestaurantTypeInterest" type="xs:string" minOccurs="0"/>
				<xs:element name="RunnerType" type="xs:string" minOccurs="0"/>
				<xs:element name="BudgetInteresets" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BudgetIntereset" type="xs:string" minOccurs="0" maxOccurs="2"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="hasFoodTypeInterests" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="hasFoodTypeInterest" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


</xs:schema>
